/* src/components/Layout/Layout.module.css */
.layout {
    display: flex;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--background-color);
}

.content {
    flex-grow: 1;
    padding: 24px;
    overflow-y: auto;
}